@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    alert(Javascript.Configuration.ConfigurationManager.AppSettings["AppUrl"]);
</script>
<h2>
    Index</h2>
